<div class="container-fluid" style="padding-bottom: 20px">
  <div class="row">
    {{#link-to link tagname="a"}}
      <button class="btn btn-md btn-success">
        <span class="glyphicon glyphicon-plus"> {{label}}</span>
      </button>
    {{/link-to}}
      </a>
  </div>
</div>
