<div class="form-group">
  <label for="startDate" class="col-sm-3 control-label">
    {{label}}
  </label>
  <div class="col-sm-9">
    {{input id=id type=type value=value class="form-control"
            placeholder=placeholder
            disabled=disabled required=required}}
  </div>
</div>

{{yield}}
