<div class="staff-bis col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Not Available
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="staff-available col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Available
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="staff-notavailable col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          Break In Service
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
