<ul class="list-group">
  <li class="list-group-item">
    {{confirmedType}}
  </li>
  <li class="list-group-item">
    {{confirmedColorCode}}
  </li>
  <li class="list-group-item">
    {{styleConfirmedColorCode}}
  </li>
</ul>

{{outlet}}
