<table id="confirmed-types-table"
       class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Confirmed Type</th>
      <th>Color Code</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{confirmedType}}</td>
        <td>
          {{#color-label color=confirmedColorCode}}
            {{confirmedColorCode}}
          {{/color-label}}
        </td>
        <td>
          {{action-buttons item=this}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
