<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{language}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
