{{outlet}}

{{create-button label="Create Language" link="languages.new"}}

<table id="languages-table"
       class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Language</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{language}}</td>
        <td>
          {{action-buttons item=this}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
