<ul class="nav nav-tabs" role="tablist">
  {{#link-to 'planning' tagName="li"}}
    <a {{bind-attr href="view.href"}}>
      Planning
    </a>
  {{/link-to}}
</ul>

<div class="tab-content">
  <div class="container-fluid">
    <div class="row">
      {{outlet}}
    </div>
  </div>
</div>
